<div class="flex">
  <div #playergrid class="grid grid-cols-10 border border-sky-900 p-4 m-2">
    <!--  TODO wholy shot boats need a different color-->
    <div
      class="p-2 text-xs"
      (click)="addBoat(cell)"
      [ngClass]="{
        'bg-red-200': cell.hover && !cell.boat,
        'bg-gray-50': !cell.clicked && !cell.boat,
        'bg-red-400': cell.boat,
        'bg-gray-600': cell.clicked,
        'crossed': cell.clicked && cell.boat
      }"
      (mouseenter)="showBoat(cell)"
      (mouseleave)="hideBoat(cell)"
      *ngFor="let cell of playerGrid"
    >
      {{ cell.clicked ? 1 : 0 }} {{ cell.boat ? 1 : 0 }}
      <div class="font-bold">{{ cell.number }}</div>
    </div>
  </div>

  <div #computergrid class="grid grid-cols-10 border border-sky-900 p-4 m-2">
    <div
      class="p-2 text-xs"
      [ngClass]="{
        'bg-white': !cell.clicked,
        'bg-gray-600': cell.clicked,
        crossed: cell.clicked && cell.boat
      }"
      (click)="fire(cell)"
      *ngFor="let cell of computerGrid"
    >
      {{ cell.clicked ? 1 : 0 }} {{ cell.boat ? 1 : 0 }}
      <div class="font-bold">{{ cell.number }}</div>
    </div>
  </div>
</div>
